/*--------------------------
 * ГЕНЕРАТОР НАЧАЛО
 ---------------------------*/
#gen {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    vertical-align: top;
    padding: 0 2vw 0 2vw;
    margin-bottom: 6vh;
    margin-top: -1vh;
}

/*
 * Добавить карточку
 */
.add {
    display: inline-block;
    margin-bottom: -15vh;
    margin-left: 1vmax;
    margin-right: 1vmax;
}
.add button {
    display: block;
    font-size: 70px;
    width: 100px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: #e0a800;
    border: 1px solid #e0a800;
    border-radius: 10px;
    float: left;
    transition: all 0.2s ease-out;
}

.add button:hover {
    background-color: rgba(225,187,0,0.75)
}

/*
 * Карточка
 */
.enigma {
    display: inline-block;
}
.enigma form {
    overflow-y: auto;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 1em;
    margin: 20px 1vmin 0;
    padding: 10px;
    white-space: normal;
    min-height: 400px;
    width: 300px;
    vertical-align: top;
    float: right;
}
.enigma label {
    display: block;
    margin: 1em;
}
.enigma .gen-img {
    text-align: center;
}
.enigma img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 1em;
    transition: all .2s ease;
}
.enigma img:hover {
    opacity: 0.7;
}
.enigma input[type=range] {
    width: 100%;
}
.enigma textarea {
    width: 100%;
    max-width: 100%;
}

/*
 * Кнопки генератора
 */
#submit {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: -2vh;
    transition: all 0.2s ease-in;
    margin-left: auto;
    margin-right: auto;
}
#submit:hover {
    bottom: 0;
}
#submit button{
    color: #1b1e21;
    font-size: 2em;
    font-family: SourceSansPro, sans-serif;
    font-weight: 300;
    text-transform: uppercase;

    height: 7vh;
    min-height: 50px;
    width: 20vw;
    max-width: 300px;
    min-width: min-content;
    padding: 2vh 2vw;
    position: relative;
    overflow: hidden;
    display: inline-block;

    border: none;
    background-image: url("../img/bg_seamless3.png");
    background-size: 25vmin;
    background-attachment: fixed;
    background-blend-mode: screen;

    transition: font-weight 0.2s ease-in-out;
}
#submit button:nth-child(1) {
    border-radius: 2vmax 0 0 0;
    margin-right: -5px;
    background-color: #cab701;
}
#submit button:nth-child(2) {
    background-color: #0b2e13;
    color: white;
}
#submit button:nth-child(3) {
    border-radius: 0 2vmax 0 0;
    margin-left: -5px;
    background-color: lightgrey;
}
/*--------------------------
 * КОНЕЦ ГЕНЕРАТОР
 ---------------------------*/