<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Supple - подари гибкий мозг!</title>
    <link rel="stylesheet" href="../../css/commonStyle.css">

</head>
<body>
<div th:replace="~{fragments/header :: navigation}"></div>
<header>
</header>
<main id="profile">
    <form method="post" th:action="@{login}" class="simple shine">
        <label><b>Логин</b>
            <input type="text" name="username" placeholder="Введите логин" required></label>
        <label><b>Пароль: </b>
            <input type="password" placeholder="Введите пароль" name="password" required></label>
        <br/>
        <button type="submit" class="green">Войти</button>
        <button class="green" onclick="location.href='/registration'">Регистрация</button>
    </form>
</main>
</body>
</html>