<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Supple - подари гибкий мозг!</title>
    <link rel="stylesheet" th:href="@{/css/commonStyle.css}">

</head>
<body>

<div th:replace="~{fragments/header :: navigation}"></div>

<div th:replace="~{fragments/header :: find}"></div>
<header>
    <h1><b>Карта китов</b> - всё о твоих китах!</h1>
    <div th:replace="~{fragments/header :: sign}"></div>
</header>

<main id="map">
    <div class="map">
        <p th:if="${kits!= null && kits.size() < 1}" th:utext="${'<h1>Нет созданных китов</h1>'}">
        </p>
        <div class="kit" th:each="kit : ${kits}">
            <div class="arrow"><p><a th:href="@{/kit/exec}">Пройти!</a></p></div>
            <div class="img">
                <img alt="Кит" th:src="@{/img/enigma/blocks.png}"/>
            </div>
            <div class="info">
                <p class="name" th:if="${kit.name == null || kit.name.length() < 1 }" th:text="${'Без названия'}">

                </p>
                <p class="name" th:if="${kit.name != null && kit.name.length() > 0 }" th:text="${kit.name}">

                </p>
                <p class="author">
                    <b>Автор:</b> <a th:href="@{|/profile/${username}|}" th:text="${username}"></a>
                </p>
                <p th:if="${kit.description == null || kit.description.length() < 1}"
                   th:utext="${'<b>Описание:</b> Нет'}">
                </p>
                <p th:if="${kit.description != null && kit.description.length() > 0}"
                   th:utext="${'<b>Описание:</b> ' + kit.description}">
                </p>

                <div class="stages" th:each="enigma, iter : ${kit.enigmas}">
                    <p class="s" th:text="${'Этап ' + iter.count}"></p>
                    <p class="n" th:if="${enigma.enigmaType == null}" th:text="${'Не указано'}"></p>
                    <p class="n" th:unless="${enigma.enigmaType == null}" th:text="${'Сложность ' + enigma.complexity}">
                        <p style="display: inline;" th:unless="${enigma.enigmaType == null}"><a th:href="@{/kit/game}" th:text="${enigma.enigmaType.displayValue}"></a></p>
                    </p>

                    <!--<p class="n"><a th:href="@{/kit/game}">Пятнашки</a> (сложность 5)</p>-->
                </div>
            </div>

            <div class="buttons simple shine">
                <button class="green" onclick="alert('Поделиться')">Генерировать ссылку</button>
                <form th:action="@{/kit/delete/}" method="get">
                    <input name="id" th:value="${kit.id}" type="hidden">
                    <div sec:authorize="isAuthenticated()">
                        <p th:if="${@userService.getCurrentAuthUser().username == kit.user.username}"
                           th:utext="${'<input class=grey type=submit value=Удалить>'}"></p>
                    </div>
                    <!--<input type="submit" value="Удалить">-->
                </form>
            </div>
        </div>

        <!--<div class="kit">
            <div class="arrow"><p><a th:href="@{/kit/exec}">Пройти!</a></p></div>
            <div class="img">
                <img alt="Кит" th:src="@{/img/enigma/blocks.png}"/>
            </div>
            <div class="info">
                <p class="name">
                    Ностальгический кит
                </p>
                <p class="author">
                    <b>Автор:</b> <a th:href="@{/profile}">Flamebrier</a>
                </p>
                <p>
                    <b>Описание:</b> Кит из простых игр из детства и шифрования
                </p>

                <div class="stages">
                    <p class="s">Этап 1</p>
                    <p class="n"><a th:href="@{/kit/game}">Пятнашки</a> (сложность 5)</p>
                    <p class="s">Этап 2</p>
                    <p class="n"><a th:href="@{/kit/game}">Виселица</a> (сложность 7)</p>
                    <p class="s">Этап 3</p>
                    <p class="n"><a th:href="@{/kit/game}">Шифрование перестановкой</a> (сложность 2)</p>
                </div>
            </div>
            <div class="buttons simple shine">
                <button class="green" onclick="alert('Поделиться')">Генерировать ссылку</button>
            </div>
        </div>
        <div class="kit">
            <div class="arrow"><p><a th:href="@{/kit/exec}">Пройти!</a></p></div>
            <div class="img">
                <img th:src="@{/img/ava/nophoto.jpg}"/>
            </div>
            <div class="info">
                <p class="name">
                    Супер-сложный кит
                </p>
                <p class="author">
                    <b>Автор:</b> <a th:href="@{/profile/arvyb}">ArvyB</a>
                </p>
                <p>
                    <b>Описание:</b> Кит для тех, кто хочет долго думать
                </p>

                <div class="stages">
                    <p class="s">Этап 1</p>
                    <p class="n"><a th:href="@{/kit/game}">Шифрование перестановкой</a> (сложность 10)</p>
                    <p class="s">Этап 2</p>
                    <p class="n"><a th:href="@{/kit/game}">Пятнашки</a> (сложность 10)</p>
                    <p class="s">Этап 3</p>
                    <p class="n"><a th:href="@{/kit/game}">Виселица</a> (сложность 10)</p>
                </div>
            </div>
            <div class="buttons simple shine">
                <button class="green big" onclick="alert('Поделиться')">Генерировать ссылку</button>
            </div>
        </div>-->
    </div>
    <div class="user simple shine">
        <!--<img src="/img/ava/flamebrier.jpg" alt="flamebrier">-->
        <img th:src="@{'data:image/jpg;base64,' + ${ava}}">
        <h1><p th:text="${username}"></p></h1>
        <a th:href="@{/profile}">
            <button class="grey">Редактировать</button>
        </a>
    </div>

</main>
</body>
</html>