<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Supple - подари гибкий мозг!</title>
    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <link rel="stylesheet" href="../css/commonStyle.css">
    <link rel="stylesheet" href="../css/execStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div th:replace="~{fragments/header :: navigation}"></div>

<form id="find">
    <label>
        <input type="url" placeholder="Введите ссылку на кит"/>
        <button>🔍</button>
    </label>
</form>
<header>
    <h1><b>Лучшие киты</b> - пройди, что сделали другие!</h1>
    <div th:replace="~{fragments/header :: sign}"></div>
</header>
<main>
    <div class="stage">
        <div class="info">
            <p>Этап <b>1</b> из <b>3</b></p>
            Пятнашки
        </div>
        <div class="game">
            <img src="enigma/img/blocks.png" alt="game">
        </div>
    </div>
    <div class="panel shine simple">
        <button class="green" onclick="alert('Информация')">🛈</button>
        <button class="yellow" onclick="alert('Пауза')">⏸</button>
        <button class="grey" onclick="alert('Стоп')">⏹</button>
    </div>
</main>
</body>
</html>